<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.wcs.wishlisthackathon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/santaclaus"
        android:label="@string/app_name"
        android:roundIcon="@drawable/santaclaus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WishActivity"
            android:label="@string/WishActivityTitle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddWishActivity" />
        <activity
            android:name=".AddWishActivity_PopUp"
            android:label="ProfilePopUp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopUp" />
        <activity android:name=".ModifyActivity"></activity>
    </application>

</manifest>